.projects-section {
  padding: 100px 5%;
  background-color: var(--bg-dark);
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  color: var(--text-main);
  margin-bottom: 50px;
}

.highlight {
  color: var(--color-primary);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.project-card {
  background-color: var(--bg-card);
  border-radius: var(--radius-medium);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(138, 43, 226, 0.15); /* Resplandor morado sutil */
  border-color: rgba(138, 43, 226, 0.3);
}

.project-card h3 {
  color: var(--text-main);
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.role {
  color: var(--color-primary);
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: 'Courier New', Courier, monospace;
}

.description {
  color: var(--text-secondary);
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 0.95rem;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}

.tech-stack span {
  background-color: rgba(138, 43, 226, 0.1);
  color: var(--color-primary-hover);
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
}

.btn-github {
  text-align: center;
  display: block;
  padding: 10px;
  background-color: transparent;
  color: var(--text-main);
  border: 1px solid var(--text-secondary);
  border-radius: var(--radius-medium);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-github:hover {
  background-color: var(--text-main);
  color: var(--bg-dark);
}